

@media only screen and (min-width: 992px) {

    .carousel-caption {
        z-index: 3;
        margin-bottom: 150px;
        margin-left: -80px;
    }

    .carousel-caption h1 b{
        font-size: 40px;
    }
    .carousel-caption h1 {
        padding: 10px;
        font-size: 24px;
    }

    .btn {
        width: 150px;
        background-color: #B1D236;
        color: white;
        margin-bottom: 20px;
        width: 250px;
    }
    
    .btn:hover {
        background-color: #0072D1;
        color: white;
    }
    
    .item-personalizado {
        width: 2048px;
        height: 700px;
    }
    #texto-modlee{
        font-size: 24px;
    }

    #texto-modlee b{
        font-size: 22px;
    }
    #banner-moodle {
        font-size: 20px;
    }
    #banner-moodle b {
        font-size: 22px;
    }
    #banner-gnosis h1 {
        font-size: 22px;
        background-color: #0672cd;
        color: white;
    }

    #titulo-corrupcion b{
        font-size: 45px;
    }
    #banner-corrupcion {
        font-size: 14px;
        padding: 10px;

    }
    #banner-corrupcion p{
        padding: 0px;
        font-size: 16px;
        margin-bottom:  5px;

    }
    #talento-ti-titulo b {
        color: #0672cd;
        font-size: 60px;
    }

    #banner-talento {
        font-size: 22px;
        background-color: #0672cd;
        color: white;
    }
    #banner-talento img {
        position: relative;
        width: 30px;
        height: 30px;
    }
    #parrafo-talento{
        font-size: 18px;
        color: black;
    }
}
@media only screen and (min-width: 720px) {
    .carousel-caption {
        margin-left: -65px;
    }
    
}
@media only screen and (max-width: 990px) {

    .carousel-caption {
        z-index: 3;
        margin-bottom: 5px;
      /*  margin-left: -10px;*/
    }

    .carousel-caption h1 {
        padding: 10px;
        font-size: 22px;
    }
    .item-personalizado {
        width: 100%;
        height: 500px;
    }
    #texto-modlee{
        font-size: 18px;
    }
    #banner-moodle {
        font-size: 14px;
    }
    #banner-moodle b {
        font-size: 14px;
    }
    #banner-gnosis h1 {
        font-size: 14px;
        background-color: #0672cd;
        color: white;
    }

    #banner-corrupcion {
        font-size: 24px;
        padding: 0px;

    }
    #banner-corrupcion p{
        font-size: 15px;
    }
 
    #talento-ti-titulo b {
        color: #0672cd;
        font-size: 30px;
    }
    #banner-talento {
        font-size: 16px;
        background-color: #0672cd;
        color: white;
    }
    #banner-talento img {
        position: relative;
        width: 30px;
        height: 30px;
    }
    #parrafo-talento{
        font-size: 14px;
        color: black;
    }

    .btn {
        font-size: 16px;
        width: 15px;
        background-color: #B1D236;
        color: white;
        margin-bottom: 10px;
        width: 200px;
    }
}

{}
/*@media (max-width: 400px) {
    .carousel-caption h1 {
        font-size: 200%;
    }
    .carousel-caption h3 {
        font-size: 80%;
    }
}*/

/* Elementos Gnerales */

* {
    font-family: 'Poppins', sans-serif;
}

nav {
    box-shadow: 0px 0px 18px -7px rgba(0, 0, 0, 1);
}

body {
    color: white;
}

body label {
    color: black;
}

h1 {
    color: #0072D1;
}

h1 b {
    margin-bottom: 100px;
    color: #0072D1;
}

footer {
    background-color: #0072D1;
    padding: 25px;
}

footer h1 b {
    color: #B1D236;
}

/* Menu */

.seleccionado {
    border-bottom: 4px solid #B1D236;
}

/* Clases Boostrap */

.navbar {
    position: fixed;
    /*Fixed ya que queremos que la posición sea en relación al navegador*/
    top: 0;
    /*El valor 0 indica que va a quedar arriba de todo*/
    left: 0;
    /*Para que el menu se ubique siempre en la parte izquierda de la pantalla*/
    width: 100%;
    /*100% para que ocupe todo el ancho del navegador*/
    z-index: 5;
    background-color: white;
}


/* Carousel */

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #B1D236;
}

.carousel-inner {
    width: 100%;
    height: 100;
}

.indicador-personalizado {
  /*  background-color: #000000;
    border-radius: 25%;
    width: 0; 
    height: 0; 
    border-left: 25px solid #B1D236;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent; */
}

.triangulo-back{
       margin: auto;
       top: 70px;
       left: 0;
       right: 0;
       width: 30px;
       height: 30px;
       -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
       -o-transform: rotate(45deg);
       -ms-transform: rotate(45deg);
       border-left: 4px solid #B1D236;
       border-bottom: 4px solid #B1D236;

}

.triangulo-next{
    margin: auto;
    top: 70px;
    left: 0;
    right: 0;
    width: 30px;
    height: 30px;
    -webkit-transform: rotate(220deg);
    -moz-transform: rotate(220deg);
    -o-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    border-left: 4px solid #B1D236;
    border-bottom: 4px solid #B1D236;

}

/* Modlee */

#texto-modlee {
    color: black;
    margin-top: 10px;
    margin-bottom: 20px;
}

#texto-modlee b {
    color: #f98012;
}

#banner-moodle {
    padding: 10px;
    background-color: #f98012;
    border-radius: 0px 200px 200px 0px;
    /*margin-left: -50px; */
    padding-left: 10px;
    margin-bottom: 20px;
}

/* Gnosis */

#banner-gnosis H1 {
    margin-top: 20px;
    padding: 10px;
    border-radius: 0px 200px 200px 0px;
    /*margin-left: -50px; */
    padding-left: 10px;
    margin-bottom: 20px;
}

#banner-gnosis H1 b {
    color: white;
}

/* Anticorrupcion */

#banner-corrupcion {
    font-size: 20px;
    color: black;
    border-radius: 0px 200px 200px 0px;
    margin-bottom: 0px;
}

/* Talento TI*/

#banner-talento {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 0px 200px 200px 0px;
    color: white;
}

/* Servicios  */

.servicios {
    margin-top: 25px;
    color: #0072D1;
    text-align: center;
}

.servicios .btn {
    background-color: #B1D236;
    color: white;
    width: 300px;
    font-size: 18px;
    margin-bottom: 20px;
}

.servicios .btn:hover {
    background-color: #0072D1;
}

/* Valores */

.valores {
    margin-top: 50px;
    text-align: center;
}

.valores img {
    max-width: 100px;
}

.valores h1 {
    color: #0072D1;
}

.valores p {
    color: black;
}

.valores-iconos {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.valores-iconos img {
    max-width: 100px;
}

.valores-iconos h2 {
    color: black;
    font-size: 20px;
}

/* Contacto*/

#contenedor-contactanos {
    margin-top: 70px;
}

.contacto h1 {
    color: #0072D1;
}

.contacto h1 b {
    color: #0072D1;
}

.contacto p {
    color: #0072D1;
}